# Stripe API keys
STRIPE_PUBLISHABLE_KEY=pk_test_51IXFsSDwsQ0DodHK5ofy2j0Xf74sstuk0SFRWxPGlbsk185DM8eXcV3kpXwjnVb7pSGgEDSIVeL1kAkPtEue3VEq00AZYG3shg
STRIPE_SECRET_KEY=sk_test_51IXFsSDwsQ0DodHK0iEWW5c25PlnUWFL0Du4HJnunWJsR3Pk2kJf9gPxhAeZz5KD3gT87gZlR7ZmJVUoLsMS7G0S00T3i4hVbq

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=whsec_1234...

STATIC_DIR=../../client/html
# Create a Price on Stripe using the Dashboard or API
PRICE=price_1IYlCRDwsQ0DodHKN04RVdVu
DOMAIN=http://localhost:4242
# DOMAIN="http://localhost:3000" # When using the React client
# Supported payment methods for the store.
# Some payment methods support only a subset of currencies.

PAYMENT_METHOD_TYPES="card"


# Requires CURRENCY=eur
# PAYMENT_METHOD_TYPES="card,ideal"


# Requires CURRENCY=myr
# PAYMENT_METHOD_TYPES="card,fpx"
